@import url('https://fonts.googleapis.com/css?family=Roboto:400,500i,700&subset=vietnamese');

$body-bg: #f5f8fa;

$font-family-sans-serif: "Roboto", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.card-body img {
    max-width: 100%;
}
